<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Notifications" tabIcon="notifications" [tabBadge]="cartCount" tabBadgeStyle="danger">
  </ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Profile" tabIcon="person"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Reports" tabIcon="list-box"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="Settings" tabIcon="cog"></ion-tab>
 
</ion-tabs>
