page-profile {
    .item-md ion-thumbnail {
        min-width: 100px;
        min-height: 100px;
    }
    .profile-image{
        width: 120px;
        height: 120px;
        border-radius: 50%;
    }

    .transparent-card{
        background-color: transparent;
    }

    // #map_canvaspickup {
    //     height: 200px;
    //     width: 390px;
    // }

    // #map_canvas {
    //     width: 90%;
    //     height: 80%;
    //     border: 1px solid red;
    //   }

    // #map_canvas{
    //     height: 200px;
    //     width: 390px;
    // }
}
