<ion-header>
  <ion-navbar color="customCol">
    <ion-title>Bus Tracking</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <div id="map_canvas_single_device" style="height: 100%; width: 100%;">
    <ion-fab left style="margin-top:85%">
      <button ion-fab color="gpsc" mini (click)="refreshMe()">
        <ion-icon name="refresh"></ion-icon>
      </button>
    </ion-fab>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar color="light-grey">
    <ion-row style="letter-spacing: 1.2px">
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/dummy_user.jpg" style="border-radius: 50%;" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding style="font-size: 3.5vw;">
                <b>{{
                  _commonVar.paramData.scheduleschools.driverDetail.first_name
                }}</b>
              </ion-col>
              <ion-col
                col-12
                no-padding
                style="font-size: 3.5vw;"
                (click)="
                  dialNumber(
                    _commonVar.paramData.scheduleschools.driverDetail.phone
                  )
                "
              >
                {{ _commonVar.paramData.scheduleschools.driverDetail.phone }}
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img src="assets/imgs/car.png" style="width:60%; height: auto;" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col
                col-12
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px; overflow: hidden;"
              >
                <b>{{
                  _commonVar.paramData.scheduleschools.schoolVehicles.device
                    .Device_Name
                }}</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col col-6>
        <ion-row>
          <ion-col col-3>
            <img src="assets/imgs/time.png" />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col col-12 no-padding>
                <ion-badge color="customCol" style="font-size: 3.5vw;">{{
                  _commonVar._eta.duration
                }}</ion-badge>
              </ion-col>
              <ion-col
                col-12
                no-padding
                style="font-size: 3.5vw;"
                (click)="
                  dialNumber(
                    _commonVar.paramData.scheduleschools.driverDetail.phone
                  )
                "
              >
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-3 style="text-align: center">
            <img
              src="assets/imgs/telemarketer.png"
              style="width:60%; height: auto;"
            />
          </ion-col>
          <ion-col col-9>
            <ion-row>
              <ion-col
                col-12
                (click)="dialNumber(8956628472)"
                style="font-size: 3.5vw; padding-top: 3px; padding-left: 0px; padding-right: 5px;"
              >
                <b>+91 8956628472</b>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>
