<ion-header>

  <ion-navbar color="customCol">
    <ion-title>{{nameofmonth}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!-- <ion-card *ngFor="let childdata of chidReport">
    <ion-card-header style="background-color: #e2e2e2;">
      <ion-row>
        <ion-col col-6><ion-icon name="contact"></ion-icon>&nbsp;{{childName}}</ion-col>
        <ion-col col-6 style="text-align: right;">{{childdata.data.createdAt|date:'medium'}}</ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="text-align: center; background-color: #009ef1;">
          <h1 style="color: #000;">{{childdata.data.schoolTrip.startTime|date:'shortTime'}}</h1>
          <h4 style="color:#757575;">PICKUP</h4>
        </ion-col>
        <ion-col col-6 style="text-align: center; background-color: #faa11f;">
          <h1 style="color: #000;">{{childdata.data.schoolTrip.endTime|date:'shortTime'}}</h1>
          <h4 style="color:#757575;">DROP</h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card> -->
  <ion-card *ngFor="let childdata of chidReport">
    <ion-card-header style="background-color: #e2e2e2;">
      <ion-row>
        <ion-col col-6>
          <ion-icon name="contact"></ion-icon>&nbsp;{{childName}}
        </ion-col>
        <ion-col col-6 style="text-align: right;" *ngIf="childdata.pickupEv != undefined">{{childdata.pickupTime|date:'medium'}}</ion-col>
        <ion-col col-6 style="text-align: right;" *ngIf="childdata.pickupEv == undefined">{{childdata.dropTime|date:'medium'}}</ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col col-6 style="text-align: center; background-color: #009ef1;">
          <h1 style="color: #000;" *ngIf="childdata.pickupEv == undefined">N/A</h1>
          <h1 style="color: #000;" *ngIf="childdata.pickupEv != undefined">{{childdata.pickupTime|date:'shortTime'}}
          </h1>
          <h4 style="color:#757575;">PICKUP</h4>
        </ion-col>
        <ion-col col-6 style="text-align: center; background-color: #faa11f;">
          <h1 style="color: #000;" *ngIf="childdata.dropEv == undefined">N/A</h1>
          <h1 style="color: #000;" *ngIf="childdata.dropEv != undefined">{{childdata.dropTime|date:'shortTime'}}</h1>
          <h4 style="color:#757575;">DROP</h4>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>